
.wholevideoarea{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}



.videoblock{
    width: 100%;
    vertical-align: top;
    
}

.thumbnail{
    margin-bottom: 5px;
    position: relative;
    cursor: pointer;
}
.thumb{
    width: 100%;
}

.applygrid{
    display: grid;
    grid-template-columns: 40px 1fr;
}

.subch{
    vertical-align: top;
    padding-top: 5px;
}

.channel{
    width: 40px;
    border-radius: 20px;
    cursor: pointer;
}

p{
    padding-left: 15px;
    margin: 0px;
    
}
.title{
    margin-top: 0;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 20px;

}

.author{
    color: gray;
    font-size: 12px;
    line-height: 20px;
}

.timer{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px;
    border-radius: 2px;
}


@media  (max-width:500px){
    .wholevideoarea{
        grid-template-columns: 1fr;
    } 
}
@media (min-width: 501px) and (max-width: 800px){
    .wholevideoarea{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 801px) and (max-width: 1200px){
    .wholevideoarea{
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media  (max-device-width:500px){
    .wholevideoarea{
        grid-template-columns: 1fr;
    } 
    .channel{
        width: 100px;
        border-radius: 50%;
        cursor: pointer;
    }
    .subch{
        vertical-align: top;
        padding: 10px;
    }
    .subtit{
        margin-left: 70px;
    }
    .author{
        display: inline;
    }
    .timer{
        background-color: black;
        color: white;
        position: absolute;
        bottom: 25px;
        right: 25px;
        font-size: 30px;
        font-weight: 500;
        padding: 4px;
        border-radius: 2px;
    }
}
@media (min-device-width: 501px) and (max-device-width: 800px){
    .wholevideoarea{
        grid-template-columns: 1fr 1fr;
    }
}


